#Inicio {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--CABECERA);
    }  
    .banner{ 
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
            .banner__contenido{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: left;
                gap: 32px;
                width: 50%; 
            }
                    .banner__contenido h1{
                        font-weight: 700;
                        font-size: 52px; 
                        color: var(--TEXTO2); 
                    }
                    .banner__contenido h2{
                        color: var(--TEXTO2); 
                        font-weight: 400;
                        font-size: 22px;
                    }
                    .banner__contenido ul{
                        width: 70%;
                        height: 50px;
                        display: flex;
                        justify-content:space-between;
                    }   
                            .banner__contenido li{
                                list-style: none; 
                            }
                                .banner__contenido a{
                                    text-decoration: none;   
                                    color:var(--TEXTO2); 
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    font-weight: 500;
                                    font-size: 18px;   
                                }
                                .banner__contenido a:hover{  
                                    border-bottom: thick solid;
                                }  
                               
                    
            .banner__imagen{
                width:40%;
                display: flex;
                align-items:center; 
                justify-content: center; 
            }
                    .banner__imagen img{
                        width: 70%;
                    }


@media (width < 1197px) {

    .banner__contenido{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 32px;
        height: 50%;
        margin: 2rem;
    }
            .banner__contenido h1{
                font-weight: 700;
                font-size: 32px;
            }
            .banner__contenido h2{
                font-weight: 400;
                font-size: 18px;
            }

                       
            .banner__imagen{
                width:60%;
                display: flex;
                align-items:center; 
                justify-content: center; 
            }
                    .banner__imagen img{
                        width: 70%;
                    }

}
@media  screen and (max-width: 500px) {

    .banner{
        width: 100%;
        display: wrap;
        flex-direction: column;
        flex-wrap: wrap-reverse;
        flex-direction: column-reverse;
        gap: 32px;
        margin: 1rem;
        margin-top: 3rem;
    }
    .banner__contenido{
     width: 90%;
        margin: 0rem;
        align-items: left;
        justify-content: left;
        gap: 20px;
    }
            .banner__contenido h1{
                font-weight: 700;
                font-size: 26px;
            }
            .banner__contenido h2{
                font-weight: 400;
                font-size: 18px;
            }

            .banner__contenido ul{
                width: 90%;
                height: 50px;
            }
            .banner__contenido a{
                font-weight: 400;
                font-size: 14px;
            }
    .banner__imagen{
        margin: 0rem;
        width: 60%;
    }
    .banner__imagen img{
        width: 100%;
     }
}