.banners { 
    display: flex;
    justify-content: left;
    margin: 0rem;
}
.banner{
    width: 60%;
    margin: 3rem;
}
@media screen and  (max-width: 1023px)   {
    .banner{
        margin-right:  1rem;
    }   
}
@media  screen and (max-width: 500px) {

    .banners {   
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: left;
    } 
    .banner{
        width: 99%;
        margin:  0rem;
    }
   
}