#Inicio {
  
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    

.banners { 
    display: flex;
    justify-content: left;
    margin: 0rem;
    margin-top: 3rem;
}
.banner{
    width: 60%;
    margin: 3rem;
}
@media screen and  (max-width: 1023px)   {
    .banner{
        margin:  2rem;
    }   
}
@media  screen and (max-width: 500px) {

    .banners {   
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: left;
    } 
    .banner{
        width: 100%;
        margin:  0rem;
    }
   
}