.banners { 
    display: flex;
    justify-content: center;
    align-items:center;
    margin:  2rem 3rem 2rem 2.5rem;
    
}
@media screen and  (max-width: 768px)   {
    .banners{
        height:200px;
        margin:  1.5rem;
    }
    .banner{
        height:200px;
    }
    .banner__lista{
        display:flex;
        margin:  0rem;
        padding:  0rem;
    }
    
}

@media  screen and (max-width: 460px) {

    .banners { 
        width: 99%;      
        display: flex;
        flex-wrap: wrap-reverse;
        align-items:left;
        justify-content: left;
        padding-top: 7rem; 
        margin: 0rem;
    } 
    .banner{
        width: 99%;
        margin-left:  0rem;
    }
   
}