.banners { 
    align-items:center;
    display: flex;
    justify-content: center;
    padding:8rem;
    padding-bottom: 6rem; 
    
}

@media  (min-width: 360px) {

    .banners { 
        display: flex;
        flex-wrap: wrap-reverse;
        align-items:left;
        justify-content: left;
        padding:1rem; 
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
    } 
   
}