#Inicio {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--CABECERA);
    }  
    .banner{ 
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
            .banner__contenido{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 24px;
                width: 751px;
                height: 246px;
                margin: 2rem;
            }
                    .banner__contenido h1{
                        font-weight: 700;
                        font-size: 52px; 
                        color: var(--TEXTO2); 
                    }
                    .banner__contenido h2{
                        color: var(--TEXTO2); 
                        font-weight: 400;
                        font-size: 22px;
                    }
                    .banner__contenido ul{
                        width: 70%;
                        display: flex;
                        justify-content:space-between;
                    }   
                            .banner__contenido li{
                                list-style: none; 
                            }
                                .banner__contenido a{
                                    text-decoration: none;   
                                    color:var(--TEXTO2); 
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    font-weight: 500;
                                    font-size: 18px;   
                                }
                                .banner__contenido a:hover{  
                                    border-bottom: thick solid;
                                }  
                               
                    
            .banner__imagen{
                display: flex;
                align-items:center; 
                justify-content: center;   
            }
                    .banner__imagen img{
                        width: 368px;
                        height: 368px;
                    }

@media (width < 1197px) {
    .banner__contenido{
        gap: 16px;
        width: 80%;
        margin: 2rem;
    }
            .banner__contenido h1{
                font-weight: 700;
                font-size: 32px;
            }
            .banner__contenido h2{
                font-weight: 400;
                font-size: 18px;
            }

                       
    .banner__imagen{
        margin: 2rem;
    }
            .banner__imagen img{
                width: 100%;
                height: 100%;
            }
}
@media  screen and (max-width: 500px) {

    .banner{
        flex-wrap: wrap-reverse;
        flex-direction: column-reverse;
    }
    .banner__contenido{
        width: 100%;
        margin: 0rem;
    }
            .banner__contenido h1{
                font-weight: 700;
                font-size: 26px;
            }
            .banner__contenido h2{
                font-weight: 400;
                font-size: 18px;
            }

            .banner__contenido ul{
                width: 70%;
                display: flex;
                justify-content:space-between;
            }
            .banner__contenido a{
                font-weight: 400;
                font-size: 16px;
            }
    .banner__imagen{
        margin: 0rem;
    }
        .banner__imagen img{
            width: 70%;
            height: 70%;
        }
}