.cabecera { 
    width: 100%;
    display: inline-flex;
    margin:  2rem;
}
.menu{
    width: 100%;
    display: flex; 
    justify-content: right;
    align-items: center;
    margin-right: 3rem;
}
@media screen and  (max-width: 768px)   {
    .menu__link{
        display: none;  
    }
  
}
@media screen and (max-width: 360px) {
  
    .cabecera { 
      display: inline-flex;
      margin: 0.5rem;
    }
    .menu__link--activo {
        margin-left:  1.5rem;
    }
  
  }