.cabecera { 
    width: 100%;
    display: inline-flex;
    margin:  0rem;
 
}
.menu{
    width: 80%;
    display: flex; 
    justify-content: right;
    align-items: center;
    margin:  2rem 2rem 2rem 0rem;
}
.logo{
    width: 20%;
    display: flex; 
    justify-content: left;
    align-items: center;
    margin:  2rem 0rem 2rem 2rem;
}
@media screen and  (max-width: 1023px)   {
    .menu__link{
        display: none;  
    }
    .menu{
        width: 55%;
        margin:  2rem;
    }
    .logo{
        width: 40%;
        margin:  1.5rem;
    }
}
@media screen and (max-width: 500px) {
    .menu {
        width: 60%;
        display: flex; 
        justify-content: right;
        margin: 1rem ;
    }
    .logo{
        width: 40%;
        margin: 1rem ;
    }
    .menu__link{
        display: none;   
    }

  }