.cabecera { 
   display: inline-flex;
   justify-content: space-between;
   height: 62px;
   position: fixed;
   z-index: 3;
   background-color: var(--CABECERA);
   top: 0;
   width: 100%;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   transition: 0.3s;  
}
nav, .overlay, .burger, aside{
  display: none;  
}


@media (width < 1197px){ 
      .burger {
        position: fixed;
        z-index: 3;
        top: 0;
        right: 0;
        display: grid;
        place-items: center;
        padding: 0;
        width: 82px;
        height: 82px;
        font-size: 30px;
        color: var(--TEXTO2);
        background: transparent;
        border: 0;
        cursor: pointer;
      }
      .burger i:last-child {
        display: none;
      }
      body.open .burger i:first-child {
        display: none;
      }
      body.open .burger i:last-child {
        display:block;
      }
      main {
        padding: 10px 30px;
      }
     
      
      body.open .cabecera__menu {
        translate: 0;
      }
      
    }
