.cabecera { 
    width: 100%;
    display: inline-flex;
    margin:  2rem;
}
.menu{
    width: 100%;
    display: flex; 
    justify-content: right;
    align-items: center;
    margin-right: 3rem;
}
@media screen and  (max-width: 768px)   {
    .menu__link{
        display: none;  
    }
    .cabecera { 
        margin:  1rem;
    }
    .menu { 
        margin-right:  2rem;
    }
}
