.cabecera { 
    width: 100%;
    display: inline-flex;
    margin:  0rem;
 
}
.menu{
    width: 80%;
    display: flex; 
    justify-content: right;
    align-items: center;
    margin:  2rem 2rem 2rem 0rem;
}
.logo{
    width: 20%;
    display: flex; 
    justify-content: left;
    align-items: center;
    margin:  2rem 0rem 2rem 2rem;
}
@media screen and  (max-width: 768px)   {
    .menu__link{
        display: none;  
    }
    .cabecera{
        width: 100%;
        margin:  1rem;
    }
    .menu{
        width: 55%;
        margin:  0rem;
    }
    .logo{
        width: 40%;
        margin:  0rem;
    }
}
@media screen and (max-width: 460px) {
  
    .cabecera { 
        width: 100%;
        margin:  1rem;
    }
    .menu {
        width: 55%;
        margin-left:0rem;
        margin: 0rem;
    }
    .logo{
        width: 40%;
        margin: 0rem ;
    }
    .menu__link{
        display: none;  
       
    }

  }