.cabecera { 
    display: inline-flex;
    margin:  2rem;
}
.menu{
    width: 100%;
    display: flex; 
    justify-content: right;
    align-items: center;
    margin-right: 3rem;
}
@media screen and  (max-width: 768px)   {
    .menu__link{
        display: none;  
    }
  
}
@media screen and (max-width: 460px) {
  
    .cabecera { 
        margin:  1rem 1rem 0.5rem 0.5rem;
    }
    .menu {
        margin-left:4rem;
        margin: 0rem;
    }

  }