.cabecera { 
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin:  1rem;
}


/* @media screen and  (max-width: 768px)   {
    .menu__link{
        display: none;
    }

    .logo{
        padding-left: 2rem;
    }
    .menu{
        padding-right: 2rem;
    }
    
} */

@media  screen and  (max-width: 360px)   {
    .menu__link {
       display: none;
    }
    .menu__link--activo{
        margin-left:  9rem;
    }
    .cabecera { 
        margin-left:  0rem;
        margin-top: 2rem;
    }

}
