.cabecera { 
    width: 100%;
    display: inline-flex;
    margin:  2rem;
}
.menu{
    width: 100%;
    display: flex; 
    justify-content: right;
    align-items: center;
    margin-right: 3rem;
}
@media screen and  (max-width: 768px)   {
    .menu__link{
        display: none;  
    }
  
}
@media screen and (max-width: 480px) {
  
    .cabecera { 
        width: 50%;
        display: inline-flex;
        margin:  2rem;
    }

  }