.experiencia{
    margin: 0rem;
    padding: 0rem; 
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
@media screen and  (max-width: 1023px)   {
    .experiencia{
        
        height: 1500px;
        margin: 0rem;
        padding: 0rem;
    }
}
@media screen and (max-width: 460px)   {
    .experiencia{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem; 
        padding: 1rem;   
   }
}