.experiencia{
    margin: 0rem;
    padding: 0rem; 
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
@media (width < 1197px){
    .experiencia{
        margin: 0rem;
        padding: 0rem;
    }
}
@media screen and (max-width: 500px)   {
    .experiencia{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0rem; 
        padding: 0rem;    
   }

   #hola{
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap-reverse;
    align-items:center;  
    }
}