.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
    background: var(--FONDO2); 
}

.footer__contenido{
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    margin: 1rem;
}

