#Formacion{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--banner);
    }
    .formacion{
        
        margin: 0rem;
        padding: 0rem;
        width: 100%;
    }

@media screen and (max-width: 500px)   {
    .formacion{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0rem;
        padding: 0rem;  
   }
}