#Formacion{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--CABECERA);
    }
        .formacion{
            margin: 2rem;
            margin-bottom: 7rem;
            margin-top: 7rem;
            align-items: center;
            justify-content: center;
            -webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
             animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }
                    .formacion__titulo{  
                        margin:4rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: var(--TEXTO2);
                    }
                                .formacion__titulo h1{
                                    font-weight: 700;
                                    font-size: 32px;   
                                }


                    .formacion__contenido{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        gap: 10px;
                        margin-left:3rem;
                    }
                                .contenido__item{
                                    width: 90%;
                                    height: 447px;
                                }
                                    .contenido__item__img{
                                        width: 90%;
                                        height: 286px;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        background: var(--TEXTO);
                                        
                                        -webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                                        animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                                    }
                                    @-webkit-keyframes shadow-drop-2-center {
                                        0% {
                                          -webkit-transform: translateZ(0);
                                                  transform: translateZ(0);
                                          -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
                                                  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
                                        }
                                        100% {
                                          -webkit-transform: translateZ(50px);
                                                  transform: translateZ(50px);
                                          -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
                                                  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
                                        }
                                      }
                                      @keyframes shadow-drop-2-center {
                                        0% {
                                          -webkit-transform: translateZ(0);
                                                  transform: translateZ(0);
                                          -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
                                                  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
                                        }
                                        100% {
                                          -webkit-transform: translateZ(50px);
                                                  transform: translateZ(50px);
                                          -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
                                                  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
                                        }
                                      }
                                      
                                            .contenido__item img{
                                                width: 70%;
                                            }
                                    .contenido__item h1{
                                        font-weight: 700;
                                        font-size: 22px;
                                        margin-top: 0.5rem;
                                        color: var(--TEXTO2);
                                    }
                                    .contenido__item h2{
                                        font-weight: 500;
                                        font-size: 16px;
                                        margin-top: 0.5rem;
                                        color: var(--TEXTO2);
                                    }

@media (width < 1197px) {
    .formacion__titulo{  
        margin: 1rem;
        margin-top: 4rem;
    }
            .formacion__titulo h1{
                font-size: 22px;  
            }
    .formacion__contenido{
        margin-left:3rem;
    }
    .contenido__item{
        width: 90%;
        margin: 0rem;
    }
        .contenido__item__img{
            width: 90%;
        }
       
                    .contenido__item h1{
                    font-weight: 700;
                    font-size: 16px;
                    }
                    .contenido__item h2{
                    font-weight: 500;
                    font-size: 14px;
                    }

}

@media screen and (max-width: 500px)  {
    #Formacion{
        width: 100%;
    }
    .formacion{
        width:100%;
        margin: 1rem;
        margin-top: 6rem;
    }
    .formacion__titulo{  
        margin: 2rem;
    }
    .formacion__contenido{
        display: flex;
        flex-direction: column;
        margin:1rem;
    }
            .contenido__item{
                width: 100%; 
                height: 180px;
                margin:0rem;
            }
                    .contenido__item__img{
                        width: 100%;  
                        height: 100px;                
                    }  
                            .contenido__item img{
                                width: 50%; 
                            }
}
