#Formacion{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--FONDO1);
    }
        .formacion{
            width: 95%;
            align-items: center;
            justify-content: center;
        }
                    .formacion__titulo{  
                        margin:4rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: var(--TEXTO2);
                    }
                                .formacion__titulo h1{
                                    font-weight: 700;
                                    font-size: 32px;   
                                }

                    .formacion__contenido{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        gap: 10px;
                        margin-left:3rem;
                    }
                                .contenido__item{
                                    width: 90%;
                                    height: 447px;
                                }
                                    .contenido__item__img{
                                        width: 90%;
                                        height: 286px;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        -webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                                        animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

                                    }                                                 
                                            .contenido__item img{
                                                width: 70%;
                                            }
                                    .contenido__item h1{
                                        font-weight: 700;
                                        font-size: 22px;
                                        margin-top: 0.5rem;
                                        color: var(--TEXTO2);
                                    }
                                    .contenido__item h2{
                                        font-weight: 500;
                                        font-size: 16px;
                                        margin-top: 0.5rem;
                                        color: var(--TEXTO2);
                                    }

@media (width < 1197px) {
    
            .formacion__titulo h1{
                font-size: 22px;  
            }
    .formacion__contenido{
        margin-left:2rem;
    }
    .contenido__item{
        width: 90%;
        margin: 0rem;
    }
        .contenido__item__img{
            width: 90%;
            height: 220px; 
        }
       
                    .contenido__item h1{
                    font-weight: 700;
                    font-size: 16px;
                    }
                    .contenido__item h2{
                    font-weight: 500;
                    font-size: 14px;
                    }

}

@media screen and (max-width: 500px)  {
 
    .formacion{
        width: 100%;
        margin: 1rem;
        margin-top: 3rem;
    }
    .formacion__titulo{  
        margin: 2rem;
    }
    .formacion__contenido{
        display: flex;
        flex-direction: column;
        margin:1rem;
    }
            .contenido__item{
                width: 100%; 
                height: 180px;
                margin:0rem;
            }
                    .contenido__item__img{
                        width: 100%;  
                        height: 100px;                
                    }  
                            .contenido__item img{
                                width: 50%; 
                            }
}
