#Formacion{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--banner);
    }
        .formacion{
            width: 100%;
            background: var(--banner);
            align-items: center;
            justify-content: center;
        }
            .formacion__titulo{
                text-align: center;
                margin: 5rem;
            }
                    .formacion__titulo h1{
                    font-weight: 700;
                    font-size: 32px;
                    }

            .formacion__lista { 
                margin: 5rem;
            }
                    .formacion__item{
                        display: flex;
                        justify-content: space-between;   
                        gap: 10px; 
                    }

@media (width < 1197px)
{
            .formacion__titulo{
             margin: 2rem;
            }
                        .formacion__titulo h1{
                            font-size: 22px;
                         }

            .formacion__lista{
                margin: 2rem;
              }
                        .formacion__item{                         
                            display: flex;
                            justify-content: space-between;   
                            gap: 2rem;
                            margin: 0rem;  
                        }    
}
    

@media screen and (max-width: 500px)   
{
           .formacion__item{
                    display: flex;
                    flex-direction: column;
                    gap: 16px; 
                }  
  
}