#Formacion{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--banner);
    }
        .formacion{
            width: 100%;
            align-items: center;
            justify-content: center;
        }
                    .formacion__titulo{  
                        margin:4rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: #464646;
                    }
                                .formacion__titulo h1{
                                    font-weight: 700;
                                    font-size: 32px;   
                                }


                    .formacion__contenido{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        gap: 10px;
                        margin:4rem;
                    }
                                .contenido__item{
                                    width: 368px;
                                    height: 347px;
                                }
                                    .contenido__item__img{
                                        width: 368px;
                                        height: 286px;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        background: #FFFFFF;
                                    }
                                            .contenido__item img{
                                                width: 192px;
                                                height: 130px;
                                            }
                                    .contenido__item h1{
                                        font-weight: 700;
                                        font-size: 22px;
                                        margin-top: 0.5rem;
                                        color: #464646;
                                    }
                                    .contenido__item h2{
                                        font-weight: 500;
                                        font-size: 16px;
                                        margin-top: 0.5rem;
                                        color: #464646;
                                    }

@media (width < 1197px) {
    .formacion__titulo{  
        margin:3rem;
    }
            .formacion__titulo h1{
                font-size: 22px;  
            }
    .formacion__contenido{
        margin:3rem;
    }
            .contenido__item{
                width: 100%;
                        
            }
                    .contenido__item__img{
                        width: 90%;
                        height: 50%;               
                    }  
                            .contenido__item img{
                                width: 70px;
                                height: 48px;
                            }
                    .contenido__item h1{
                    font-weight: 700;
                    font-size: 16px;
                    }
                    .contenido__item h2{
                    font-weight: 500;
                    font-size: 14px;
                    }

}

@media screen and (max-width: 500px)  {
    .formacion__titulo{  
        margin:2rem;
    }
    .formacion__contenido{
        display: flex;
        flex-direction: column;
        margin:2rem;
    }
            .contenido__item{
                width: 296px;
                height: 169px;
            }
                    .contenido__item__img{
                        width: 296px;
                        height: 118px;                    
                    }  
                            .contenido__item img{
                                width: 84px;
                                height: 58px;
                            }
}
