#Formacion{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--banner);
    }
        .formacion{
            width: 100%;
            align-items: center;
            justify-content: center;
        }
            .formacion__titulo{
                text-align: center;
                margin: 5rem;
            }
                    .formacion__titulo h1{
                    font-weight: 700;
                    font-size: 32px;
                    }

            .formacion__lista { 
                margin: 5rem;
            }
                    .formacion__item{
                        display: flex;
                        justify-content: space-between;   
                        gap: 10px; 
                    }

@media (width < 1197px)
{
    
            .formacion__titulo{
             margin: 3rem;
            }
                        .formacion__titulo h1{
                            font-size: 22px;
                         }

            .formacion__lista{
                margin: 3rem;
                display: flex;
                align-items: center;
                justify-content: center;
              }
                        .formacion__item{                         
                            display: flex;
                            justify-content: space-between;   
                            gap: 16px; 
                        }    
}
    

@media screen and (max-width: 500px)   
{
    .formacion__titulo{
        margin: 2rem;
    }
    .formacion__contenido
      {  
      margin: 0rem;
      }   

       .formacion__lista{
        background-color: red;
           margin: 2rem;
         }
           .formacion__item{
            width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 2rem; 
                    background-color: rgb(0, 255, 98);
                }  
  
}