.formacion{
    padding: 0rem;
    background: var(--banner);
    margin: 0rem;
   
}
@media (width < 1197px){
    .formacion{
        
        margin: 0rem;
        padding: 0rem;
        
    }
}
@media screen and (max-width: 500px)   {
    .formacion{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0rem;
        padding: 0rem;  
      
   }
}