.hobbies{
    margin: 0rem;
}
@media (width < 1197px){
    .hobbies{
        align-items: center;
        justify-content: center;
        margin: 1rem;
    }
}

@media screen and (max-width: 500px)  {

    .hobbies{
        margin: 0rem;
        margin-bottom: 2rem;
        padding: 0rem;
    }
 }