.hobbies{
    height: 350px;
    margin: 0rem;
}
@media screen and  (max-width: 1023px)   {
    .hobbies{
        align-items: center;
        justify-content: center;
        height: 500px;
        margin: 0rem;
    }
}

@media screen and (max-width: 460px)    {
    .hobbies{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem; 
        padding: 1rem;   
         }
}