#Proyectos{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--FONDO2);
}  
.proyectos__contenido{
    width: 90%;
    align-items: center;
    justify-content: center;
    margin: 3rem;
}    

        .proyectos__titulo{
            text-align: center;
            margin: 3rem;
          }
                    .proyectos__titulo h1{
                    color: var(--TEXTO2);
                    font-weight: 700;
                    font-size: 36px
                    }
        .proyectos__contenido__item{
            display: flex;
            align-items: center;
            justify-content: center;  
        }
                    .proyectos__contenido__img{
                        width: 100%; 
                    }                      
                            .proyectos__contenido__img img{
                                width: 95%;
                                -webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                                animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                            }
                    .proyectos__contenido__texto{
                        width: 50%; 
                    }  
                            .proyectos__contenido__texto h1{
                                font-weight: 700;
                                font-size: 22px;
                                margin-bottom: 0.5rem;
                            }
                            .proyectos__contenido__texto h2{
                                font-weight: 500;
                                font-size: 16px;
                                margin-bottom: 0.5rem;
                            }
                            .item__botones{
                                display: flex;
                                gap: 16px;
                            }
                                            .primario{
                                                font-weight: 200px;
                                                font-size: 16px;
                                                border: 1px solid var(--TEXTO2);
                                                color: var(--TEXTO2);
                                                display: flex;
                                                justify-content: center;
                                                align-items: center;
                                                padding: 16px;
                                                text-decoration: none;
                                                background-color:var(--TEXTO);
                                            }
                                            .primario:hover {
                                                background: var(--TEXTO2);
                                                border: 1px solid var(--TEXTO2);  
                                                color: var(--TEXTO);
                                            }
@media (width < 1197px){
   
                .proyectos__titulo h1{
                    font-weight: 700;
                    font-size: 22px;
                }
    .proyectos__contenido__item{
        display: flex;
        flex-direction: column;
    }
        
                .proyectos__contenido__texto{
                    width: 100%; 
                }
                        .proyectos__contenido__texto h1{
                            font-weight: 700;
                            font-size: 16px;
                            margin-bottom: 0.5rem;
                        }
                        .item__botones{
                            display: flex;
                            gap: 16px;
                            margin-bottom: 2rem;
                        }   
            .proyectos__contenido__img{
                width: 100%;
                margin: 0rem;
            }
            .proyectos__contenido__img img{
                width: 100%; margin: 0rem;
            }
    #proyectos{
        flex-wrap: wrap-reverse;
        flex-direction: column-reverse; 
    }
}

@media screen and (max-width: 500px)  {
    .proyectos__contenido{
        width: 100%;
        align-items: center;
        justify-content: center;
        margin: 2rem;
        margin-top: 3rem;
    } 
    .proyectos__titulo{
        width: 80%;
      }
    .proyectos__contenido__texto{
        width: 100%; 
    }
    .proyectos__contenido__item{
        margin: 0rem;width: 100%;gap: 12px;
    }
      .proyectos__contenido__img{
        margin: 0rem;
    }
            .proyectos__contenido__img img{
                margin: 0rem;
            }
    .proyectos__contenido__texto{
        margin: 0rem;
    }
}