#Proyectos{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;   
}  
.proyectos__contenido{
    width:100%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}    

        .proyectos__titulo{
            text-align: center;
            margin: 5rem;
          }
                    .proyectos__titulo h1{
                    color: #464646;
                    font-weight: 700;
                    font-size: 36px
                    }
        .proyectos__contenido__item{
            display: flex;
            align-items: center;
            justify-content: center;  
            width: 100%; 
        }
                    .proyectos__contenido__img{
                        width: 100%; 
                    }
                            .proyectos__contenido__img img{
                                width: 95%;
                            }
                    .proyectos__contenido__texto{
                        width: 50%; 
                    }  
                            .proyectos__contenido__texto h1{
                                font-weight: 700;
                                font-size: 22px;
                                margin-bottom: 0.5rem;
                            }
                            .proyectos__contenido__texto h2{
                                font-weight: 500;
                                font-size: 16px;
                                margin-bottom: 0.5rem;
                            }
                            .item__botones{
                                display: flex;
                                gap: 16px;
                            }
                                            .primario{
                                                font-weight: 400px;
                                                font-size: 16px;
                                                border: 1px solid var(--menu-items-2);
                                                color: var(--menu-items-2);
                                                display: flex;
                                                justify-content: center;
                                                align-items: center;
                                                padding: 16px;
                                                text-decoration: none;
                                            }
                                            .primario:hover {
                                                background: var(--menu-items-2);
                                                border: 1px solid var(--menu-items-2);  
                                                color: #FFFFFF;
                                            }
@media (width < 1197px){

    .proyectos__titulo{
        text-align: center;
        margin: 5rem;
      }
                .proyectos__titulo h1{
                color: #464646;
                font-weight: 700;
                font-size: 22px;
                }
    .proyectos__contenido__item{
        display: flex;
        flex-direction: column; 
        align-items: center;
        justify-content: center;  
        width: 100%; 
    }
                .proyectos__contenido__img{
                    width: 90%; 
                }
                        .proyectos__contenido__img img{
                            width: 95%;
                        }
                .proyectos__contenido__texto{
                    width: 88%; 
                }
                        .proyectos__contenido__texto h1{
                            font-weight: 700;
                            font-size: 16px;
                            margin-bottom: 0.5rem;
                        }
                        .item__botones{
                            display: flex;
                            gap: 16px;
                            margin-bottom: 2rem;
                        }   
                     
    #proyectos{
        flex-wrap: wrap-reverse;
        flex-direction: column-reverse; 
    }
}

