.skills{
 height: 350px;
 margin: 0rem;
}
@media screen and  (max-width: 1023px)   {
   .skills{
      align-items: center;
      justify-content: center;
      height: 500px;
      margin: 1rem;
   }
}

@media screen and (max-width: 500px)  {

   .skills{
      margin: 0rem;
      margin-bottom: 2rem;
      padding: 0rem;
   }
}