.skills{
 height: 350px;
 margin: 0rem;
}
@media screen and  (max-width: 768px)   {
   .skills{
      align-items: center;
      justify-content: center;
      height: 300px;
      margin: 0rem;
   }
}

@media screen and (max-width: 460px)  {

   .skills{
      margin: 0rem;
      padding: 0rem;
   }
}