#Skills {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   }
   
.skills{
 align-items: center;
 justify-content: center;
 width: 90%;
}
@media (width < 1197px){ 
   .skills{
      align-items: center;
      justify-content: center;
      width: 100%;
   }
}
@media screen and (max-width: 500px)  {

   .skills{
      align-items: center;
      justify-content: center;
      width: 90%;
   }
}
