#Skills, #Hobbies {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   }
         .skills{
            width: 100%;
            align-items: center;
            justify-content: center;
         }
                  .skills__titulo{
                     text-align: center;
                     margin: 5rem;
                  }
                           .skills__titulo h1{
                              font-weight: 700;
                              font-size: 32px;
                           }
                  .skills__contenido
                  {  
                     margin: 5rem;
                  }
                           .skills__lista {
                           display: flex;
                           justify-content: space-between;
                           gap: 16px;
                    
                           }
                                    .skills__item{
                                       background: #FFFFFF;
                                       width: 176px;
                                       height: 174px;
                                       display: flex;
                                       flex-direction: column;
                                       justify-content: flex-end;
                                       align-items: flex-start; 
                                    }
                                             .skills__item h1, img{
                                                margin: 0.5rem; 
                                                font-weight: 700;
                                                font-size: 16px;
                                             }

@media (width < 1197px){ 
        .skills__titulo{
         text-align: center;
         margin: 3rem;
         } 
                  .skills__titulo h1{
                     font-weight: 700;
                     font-size: 22px;
                  }
         .skills__contenido
         {  
         margin: 3rem;
         }
                  .skills__lista {
                        display: grid;
                        grid-template-columns: repeat(3, 1fr); 
                        gap: 8px;
                  }
                           .skills__item {
                              width: 90%;                    
                           }
}
@media screen and (max-width: 500px)  {
   .skills__titulo{
      margin: 4rem;
      } 
   .skills__contenido
      {  
      margin: 2rem;
      }   

         .skills__lista {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            margin: 0rem;
            gap: 2rem;
            background-color: rgb(0, 255, 64);
         }  
         .skills__item {
            background-color: red;
            height: 118px;    
            margin: 0rem;  
            width: 100%; 
         }
         
      }
