#Skills, #Hobbies {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   background: var(--CABECERA);
   }
#Hobbies {
   background: var(--FONDO);
}   
         .skills{
            width: 100%;
            align-items: center;
            justify-content: center;
         }
                  .skills__titulo{
                     color: var(--TEXTO2);
                     text-align: center;
                     margin: 5rem;
                  }
                           .skills__titulo h1{
                              font-weight: 700;
                              font-size: 32px;
                           }
                  .skills__contenido
                  {  
                     margin: 5rem;
                  }
                           .skills__lista {
                           display: flex;
                           justify-content: space-between;
                           gap: 16px;
                    
                           }
                                    .skills__item{
                                       background:var(--TEXTO);
                                       width: 176px;
                                       height: 174px;
                                       display: flex;
                                       flex-direction: column;
                                       justify-content: flex-end;
                                       align-items: flex-start; 
                                    }
                                             .skills__item h1, img{
                                                color: var(--TEXTO2);
                                                margin: 0.5rem; 
                                                font-weight: 700;
                                                font-size: 16px;
                                             }

@media (width < 1197px){ 
        .skills__titulo{
         text-align: center;
         margin: 3rem;
         } 
                  .skills__titulo h1{
                     font-weight: 700;
                     font-size: 22px;
                  }
         .skills__contenido
         { 
         margin: 3rem;
         }
                  .skills__lista {
                     display: grid;
                     grid-template-columns: repeat(3, 0fr);
                     gap: 32px;
                     margin: 0rem;
                  }
                           .skills__item {
                              width: 224px;
                              height: 118px;                 
                           }
}
@media screen and (max-width: 500px)  {
   .skills__titulo{
      margin: 2rem;
      } 
   .skills__contenido
      {  
      margin: 2rem;
      background-color: aqua;
      }   

         .skills__lista {
            display: grid;
            grid-template-columns: repeat(2, 0fr);
            gap: 16px;
            margin: 0rem;
            }  
            .skills__item {
               width: 200px;
               height: 118px;  
            }

               .skills__item h1{
                  font-weight: 700;
                  font-size: 16px;
                  margin: 0.3rem;
               }
               .skills__item img{
                  margin: 0.3rem;
               }
            
      }
