.sobremi {
    background: var(--banner);
    align-items: center;
    margin: 0rem;
    padding: 3rem;
    height: 330px;  
    
}
@media screen and  (max-width: 1023px)   {
    .sobremi{
        height: 300px;  
        margin: 0rem;
        padding: 0rem;
    }
   
}
@media screen and (max-width: 460px)  {
    .sobremi {  
        height: 350px;
        margin: 0rem;
        padding: 0rem;
    }
   
}