#SobreMi {
background: var(--FONDO);
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}
        .sobremi{
        width: 95%;
        align-items: center;
        justify-content: center;
        }
                .sobremi__titulo{
                    color: var(--TEXTO2);
                    margin: 5rem;
                    font-weight: 700;
                    font-size: 36px;  
                }
                .sobremi__subtitulo{
                    color: var(--TEXTO2);
                    font-weight: 400;
                    font-size: 20px;
                    width:80%;
                    margin: 5rem;
                }
                
@media (width < 1197px) { 
            .sobremi__titulo {
                font-size: 28px; 
                font-weight: 700;
                margin: 3rem;
            }
            .sobremi__subtitulo{
                font-size: 18px;
                font-weight: 400;
                width: 85%;
                margin: 3rem;
              }
}

@media screen and (max-width: 500px)  {
.sobremi{
    margin: 1rem;
    margin-top: 3rem;
}
    .sobremi__titulo {
        margin: 2rem;
        font-size: 22px; 
        font-weight: 700;
    }
    .sobremi__subtitulo{
        margin: 2rem;
        font-size: 16px;
         font-weight: 400;
    }
}