.sobremi__titulo{
    padding-bottom: 2rem;
    font-weight: 700;
    font-size: 36px;   
}

@media (max-width: 360px)   {
  .sobremi__titulo {
        padding-bottom: 1rem;
        padding-top: 1rem;
        font-size: 22px; 
    }
    }