.sobremi__subtitulo{
    font-family: 'Raleway';
    padding-right: 50rem;
    font-weight: 400;
    font-size: 20px;
    width: 900px;
    padding-bottom: 3rem;
}

@media (max-width: 360px)   {
  .sobremi__subtitulo{
    width: 300px;
    font-size: 14px;
    padding-bottom: 4rem;
    padding-top: 1rem;
    margin: 0rem;
}
}