.sobremi__subtitulo{
    font-family: 'Raleway';
    padding-right: 50rem;
    font-weight: 400;
    font-size: 20px;
    width: 80%;
    padding-bottom: 3rem;
}
@media screen and  (max-width: 768px)   {
  .sobremi__subtitulo{
    padding: 2rem;
    padding-top: 0rem;
    font-size: 14px;
    width: 650px;
  }
  .sobremi img{
    padding-left: 2rem; 
  }
}
@media screen and (max-width: 460px)  {
  .sobremi__subtitulo{
    padding: 1rem;
    font-size: 14px;
    width: 400px;
  }
  .sobremi img{
    padding: 1rem; 
  }
}