.item__texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 800px;

}

.item__texto img{
    padding-right: 2rem;
    padding-top: 6rem;
    
}

@media screen and (max-width: 360px)   {
    .item__texto {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem;
        padding: 1rem;
        }  
        .item__texto img{
            padding: 1rem;
            margin: 1rem;
            width: 296px;
            height: 144px;
             
          }  
    }