.item__texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width:35%;
}
@media screen and  (max-width: 1023px)   {
  .item__texto{
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

}

@media screen and (max-width: 500px)  {
    .item__texto {
      width: 100%;
      margin-bottom: 1rem;
      margin-top: 1rem;
        }  

    }