.texto__botones{
    display: flex;
    margin-top: 0rem;  
   
}
@media screen and  (max-width: 1023px)   {
    .texto__botones{
        width:25%;
      }
  }
@media screen and (max-width: 460px)  {
    .texto__botones{
      
        width: 296px;
        align-items: left;
        font-size: 14px;  
        padding: 12px 16px;
   }
}
