.texto__titulo{
    font-weight: 700;
    font-size: 22px;
 
}

@media screen and (max-width: 500px)  {
    .texto__titulo{
        align-items: left;
        font-size: 16px;  
        margin: 0rem; 
        padding: 0rem;
   }
}


