.texto__botones{
    display: flex;
    margin-top: 0rem;  
   
}
@media screen and  (max-width: 1023px)   {
    .texto__botones{
        width:25%;
      }
  }
@media screen and (max-width: 500px)  {
    .texto__botones{
      
        align-items: left;
        font-size: 14px;  
        padding-bottom: 2rem;
        padding-top: 1rem;
   }
}
