.texto__subtitulo{
    font-weight: 500;
    font-size: 16px;
    margin-top: 1rem;  
    margin-bottom: 1rem;  
}

@media screen and (max-width: 500px)   {
    .texto__subtitulo{
        align-items: left;
        font-size: 14px;  
        margin: 0rem;
        margin-top: 0.5rem; 
        padding: 0rem;
   }
}