.skills__lista {
    display: flex;
    justify-content: space-between;
    margin: 0rem;
}
@media screen and  (max-width: 1023px)   {
    .skills__lista {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 0rem;    
        padding: 0rem; 
        
    }
 }
@media screen and (max-width: 460px) {
.skills__lista {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
 
     margin: 1rem;
     padding: 0rem;
    }  
}