.skills__lista {
    display: flex;
    justify-content: space-between;
    margin-left: 4rem;
    margin-right: 8rem;
}

@media screen and (max-width: 360px)   {
.skills__lista {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 280px;
    height: 400px;
    gap: 32px;
    margin-right: 1rem; 
    margin-top: 1rem; 
    margin-bottom: 1rem; 
    margin-left: 1rem; 
    }  
}