.skills__lista {
    display: flex;
    justify-content: space-between;
    margin: 3rem;
}
@media screen and  (max-width: 768px)   {
    .skills__lista {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 2rem;       
    }
 }
@media screen and (max-width: 460px) {
.skills__lista {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
     margin-right: 6rem;
     padding: 0rem;
    }  
}