.skills__item{
    background: #FFFFFF;
    width: 176px;
    height: 174px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    font-weight: 700;
    font-size: 16px;  
}
@media screen and  (max-width: 768px)   {
  .skills__item{
    margin: 0.5rem;
    width: 190px;
    height: 100px;
  }
}
@media screen and (max-width: 460px)    {
  .skills__item{
    width: 140px;
    height: 80px;
    padding: 1rem;
  }

}