.skills__lista {
    display: flex;
    justify-content: space-between;
    margin: 3rem;
}
@media screen and  (max-width: 1023px)   {
    .skills__lista {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-between;
        margin: 1rem;
        padding: 0rem; 
   
    }
 }
@media screen and (max-width: 500px) {
.skills__lista {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0.3rem; 
    padding: 0rem;
    }  
}