.skills__lista {
    display: flex;
    justify-content: space-between;
    margin-left: 4rem;
    margin-right: 8rem;
}

@media (min-width: 360px)   {
.skills__lista {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 280px;
    height: 400px;
    padding: 1rem; 
    margin: 0rem; 
    
    }  
}