.skills__lista {
    display: flex;
    justify-content: space-between;
    margin-left: 4rem;
    margin-right: 8rem;
}

@media screen and (max-width: 460px) {
.skills__lista {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 300px;
    height: 400px;
    margin: 0rem;
    margin-top: 1rem;
    padding-right: 0rem;
    }  
}