.skills__item{
    background: #FFFFFF;
    width: 224px;
    height: 118px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    font-weight: 700;
    font-size: 16px;
    margin: 1rem;   
}
@media screen and  (max-width: 1023px)   {
    .skills__item {
        width: 224px;
        height: 118px;
        margin: 1rem; 
    }
 }
@media screen and (max-width: 460px)    {
  .skills__item{
    width: 156px;
    height: 118px;
    margin: 0.5rem; 
  }

}