.skills__item{
    background: #FFFFFF;
    width: 176px;
    height: 174px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    font-weight: 700;
    font-size: 16px;  
}

@media screen and (max-width: 460px)    {
  .skills__item{
 
    margin-right: 1rem; 
    width: 156px;
    height: 118px;
   padding: 0rem;
  }

}