.skills__titulo{
    color: var(--titulo);
    font-weight: 700;
    font-size: 32px;
    margin: 3rem;
    text-align: center;
}
@media screen and  (max-width: 1023px)   {
  .skills__titulo{
    padding: 0rem;
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 460px) {
  .skills__titulo{
    font-size: 22px;
    text-align: center;
    padding: 0rem;
    margin-bottom: 1rem;
  }   
}