.formacion__item{
   margin: 4rem;
}

@media (min-width: 360px)  {
   .formacion__item{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0rem;
      padding: 0rem;
       }  
   }