.formacion__titulo{
    color: var(--titulo);
    margin: 1rem;
    text-align: center;
}
.formacion__titulo h1{
  font-weight: 700;
    font-size: 32px;
}
 @media (width < 1197px)   {
  .formacion__titulo{
    padding: 2rem;

  }
}
@media  (max-width: 500px)  {
    .formacion__titulo h1{ 
      font-size: 22px;
      font-weight: 700;
      margin: 0rem;
      text-align: center;
      padding: 0rem;
    }   
    .formacion__titulo{ 
    width: 100%;
  }
  }