/* 
        .formacion__item__lista{
            width: 368px;
            height: 347px;

        }
                .formacion__item__lista-img{
                width: 368px;
                height: 286px;;
                background-color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                }
                        .formacion__item__lista-img img{
                            width: 192px;
                            height: 130px;
                        }
                        .formacion__item__lista-texto h1{
                            font-weight: 700;
                            font-size: 22px;
                            margin-top: 0.5rem;
                        }
                        .formacion__item__lista-texto h2{
                            font-weight: 500;
                            font-size: 16px; 
                            margin-top: 0.5rem;   
                        }

@media (width < 1197px){
  
    .formacion__item__lista{
        width: 100%;
        background-color: red;
    } 
        .formacion__item__lista-img{
            width: 100%;
                }
                        .formacion__item__lista-img img{
                            width: 50%;
                                           }
                        .formacion__item__lista-texto h1{
                            font-weight: 700;
                            font-size: 16px;                           
                        }
                        .formacion__item__lista-texto h2{
                            font-weight: 500;
                            font-size: 14px;                       
                        }
}
@media (max-width: 500px)  {
    .formacion__item__lista{
        width: 100%;
        height: 169px;
        gap: 16px;
    } 
                .formacion__item__lista-img{
                    width: 100%;
                    height: 118px;
                gap: 16px;
                        } 
     
                .formacion__item__lista-img img{
                    width: 84px;
                    height: 58px;
                        }
 } */