.formacion__item{
   margin: 0rem;
   width: 100%;
}
@media (width < 1197px)  {
   .formacion__item{
      margin: 0rem;
      padding: 0rem;
   }
}
@media (max-width: 500px) {
   .formacion__item{
      display: flex;
      flex-direction: column;
      align-items: left;
      margin: 0rem;
      margin-bottom: 1.5rem;
      padding: 0rem;
       }  
   }