.formacion__img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 200px;
    background: #FFFFFF;

}
.formacion__img img{
    width: 50%;
    height: 50%;   
}

