.formacion__titulo{
    color: var(--titulo);
    font-weight: 700;
    font-size: 32px;
    padding: 2rem;
    text-align: center;
}
@media screen and  (max-width: 1023px)   {
  .formacion__titulo{
      margin: 0rem;
  }
}
@media  (max-width: 500px)  {
    .formacion__titulo{
      font-size: 22px;
      margin: 1rem;
      text-align: center;
      padding: 1rem;
    }   
  }