.formacion__lista {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem;
}

@media (width < 1197px){
    .formacion__lista{
        width:90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 4rem;
        padding-top: 2rem;
    }
}
@media (max-width: 500px)  {
.formacion__lista {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    align-items: center;
    margin: 0rem;
    padding: 0rem;
    }  
}