.formacion__img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    width: 368px;
    height: 286px;
    background: #FFFFFF;
}
.formacion__img img{
    width: 190px;
    height: 130px;       
}

@media screen and  (max-width: 1023px)   {
    .formacion__img img{
        width: 84px;
        height: 58px;
        background: #FFFFFF;
    }
 
    .formacion__img{
        width: 280px;
        height: 118px;
        margin: 0.5rem;
        padding: 0rem;
    }  
}     
@media (max-width: 460px) {
.formacion__img img{
    width: 84px;
    height: 58px;
    }  
.formacion__img{
    width: 268px;
    height: 118px;
    padding: 1rem;
    }     
}