.subtitulo__ano{
    font-weight: 500;
    font-size: 16px;
}

@media (min-width: 360px)    {
.subtitulo__ano{
    width: 280px;
    align-items: left;
    font-size: 14px;
    
    margin-bottom: 3rem;
    padding: 0rem;
    }  
}
