.subtitulo__ano{
    font-weight: 500;
    font-size: 16px;
}
@media screen and  (max-width: 1023px)   {
    .subtitulo__ano{
        font-size: 14px;
        margin: 0.5rem;
        padding: 0rem;
    }
}
@media (max-width: 460px)    {
.subtitulo__ano{
    width: 290px;
    align-items: left;
    font-size: 14px;
    margin-top: 0.5rem;
    padding: 0rem;
    margin-left: 0rem;
    }  
}
