.banner__imagen img{
    width: 368px;
    height: 368px;
    margin-left: 3rem;
}
.banner__imagen{
    width: 700px;
    height: 400px;    
}

@media  (max-width: 360px)    {
.banner__imagen img{
    width: 98px;
    height: 98px; 
    margin: 0rem; 
    
   }
   .banner__imagen{
    width: 98px;
    height: 98px; 
    margin: 1rem; 
}  
}