.banner__imagen img{
    width: 368px;
    height: 368px;
}
.banner__imagen{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 700px;
    height: 400px;   
}
@media screen and  (max-width: 1023px)   {
    .banner__imagen img{
        width: 160px;
        height: 160px; 
    }
    .banner__imagen{
        display: flex;
        align-items:start;
        height: 220px; 
        width: 600px;
        margin: 0rem; 
        padding:  0rem;
    }
}
@media  screen and (max-width: 460px)   {
.banner__imagen img{
    width: 98px;
    height: 98px; 
    margin: 0rem; 
    
   }
   .banner__imagen{
    display: flex;
    justify-content: start;
    align-items:start;
    height: 10px;  
    margin: 2rem;
    margin-left: 1rem;
}  
}