.banner__titulo{
    color: var(--titulo);
    font-size: 52px;
    font-weight: 700;
    text-align: left;   
    margin: 0rem; 
}
@media screen and  (max-width: 1023px)   {
    .banner__titulo{
        font-size: 22px;
        margin: 0rem; 
        padding:  0rem;
    }
}
@media screen and (max-width: 500px)    {
    .banner__titulo{
        text-align: left; 
        margin: 1rem;   
        font-weight: 700;
        font-size: 22px;
    }
}