.banner__imagen img{
    width: 268px;
}
.banner__imagen{
    width:40%;
    display: flex;
    align-items:center;  
}
@media screen and  (max-width: 1023px)   {
   
    .banner__imagen img{
        width: 146px;
        height: 146px;
    }
    .banner__imagen{
        display: flex;
       align-items:center; 
        margin-bottom:  1rem;
    }
}
@media  screen and (max-width: 500px) {
.banner__imagen img{
    width: 98px;
    height: 98px; 
   }
   .banner__imagen{
    display: flex;
    align-items:start;
    margin: 1rem;
}  
}