.banner__titulo{
    color: var(--titulo);
    font-size: 52px;
    font-weight: 700;
    text-align: left;   
}

@media (min-width: 360px)     {
    .banner__titulo{
        font-size: 22px;
        text-align: left; 
        margin:1rem; 
        padding:0rem; 
    }
}