.experiencia__titulo{
    color: var(--titulo);
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    padding: 2rem;
    padding-bottom: 4rem;
}
.experiencia__titulo h1{
  color: var(--titulo);
  font-weight: 700;
  font-size: 32px;
}

@media screen and  (max-width: 1023px)   {
  .experiencia__titulo{
    padding: 2rem;
    padding-bottom: 0rem;
} 
}
@media screen and (max-width: 500px)  {
    .experiencia__titulo h1{
      width: 80%;
      font-size: 22px;
      padding: 2rem;
      text-align: center;
     
    }   
  }