.proyectos__titulo{
    color: var(--titulo);
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    margin: 6rem;
  }
.proyectos__titulo h1{
  color: var(--titulo);
  font-weight: 700;
  font-size: 32px;
  
}

@media (width < 1197px){

  .formacion__titulo{
    margin: 2rem;
    }
                .formacion__titulo h1{
                    font-size: 22px;
                 }
}


@media screen and (max-width: 500px)   {

    .proyectos__titulo{
      
        margin:5rem;
      }
}   

