.lista__link {
    display: flex;
    justify-content: space-between;
    color: var(--menu-items);
    font-size: 18px;
    text-decoration: none;    
}

.lista__link:hover {
    color: var(--menu-items-2);
}

.lista__link img{  
    margin-top: 0.2rem;
    width: 12px;
    height: 12px; 
}
@media screen and  (max-width: 1023px)   {
    .lista__link { 
        font-size: 16px;
        text-decoration: none;   
    }
    .lista__link img{
        margin-top: 4px; 
        margin-left: 4px; 
        width: 10px;
        height: 10px; 
    }
}

 
@media screen and (max-width: 500px)  {
    .lista__link {
        display:flex;
        font-size: 14px;
        text-decoration: none;
        margin-right:0.5rem;  
        margin-left:1rem;  
    }
   
    .lista__link img{
        margin-top: 4px; 
        margin-left: 4px; 
        width: 8px;
        height: 8px;
         
    }
   
}