.lista__link {
    color: var(--menu-items);
    font-size: 18px;
    text-decoration: none;
    margin-right: 2rem;    
}

.lista__link:hover {
    color: var(--menu-items-2);
}


@media screen and (max-width: 460px)   {
    .lista__link {
        
        display:flex;
        font-size: 14px;
        text-decoration: none;
        margin: 0.5rem;
         
    }
    .lista__link img{
        margin-top: 4px; 
        margin-left: 4px; 
        width: 8px;
        height: 8px;
         
    }
   
}