
.cabecera__logo{
    display: flex; 
    justify-content: left;
    align-items: center; 
    margin:  1rem;
    
  }
  .cabecera__logo h1{
  color: var(--TEXTO2);
  font-size: 16px;
  font-weight: 700;  
  margin:  4px;
  }