.hobbies__lista {
    display: flex;
    justify-content: space-between;
    margin-left: 4rem;
    margin-right: 8rem;
}

@media (min-width: 360px)    {
.hobbies__lista  {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 280px;
    height: 400px;
    gap: 32px;
    margin: 0rem; 
    }  
}