.hobbies__titulo{
    color: var(--titulo);
    font-weight: 700;
    font-size: 32px;
    margin: 3rem;
    text-align: center;
}
@media screen and  (max-width: 1023px)   {
  .hobbies__titulo{
    padding: 0rem;
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 500px)  {
  .hobbies__titulo{
    width: 70%;
    font-size: 22px;
    text-align: center;
    padding: 0rem;
  }   
}