.hobbies__item{
    background: #FFFFFF;
    width: 224px;
    height: 118px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    font-weight: 700;
    font-size: 16px;
    margin: 0.5rem;   
}
@media screen and  (max-width: 1023px)   {
  .hobbies__item{
    width: 60%; 
  }
}
@media screen and (max-width: 500px)    {
.hobbies__item{
  width: 136px;
  height: 98px;
  margin: 0.5rem; 
}

}