.hobbies__item{
  background: #FFFFFF;
  width: 176px;
  height: 174px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;  
}

.hobbies__item h1, img{
  margin-left: 0.5rem; 
  font-weight: 700;
  font-size: 16px;
}
@media (width < 1197px)  {
  .hobbies__item{
    margin: 1rem;
    width: 80%; 
  }
}
 @media screen and (max-width: 500px){ 
  .hobbies__item {
    width: 156px;
    height: 118px;
  }
}