.hobbies__lista {
    display: flex;
    justify-content: space-between;
    margin: 3rem;
}
@media screen and  (max-width: 1023px)   {
    .hobbies__lista {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 2rem;    
        padding: 0rem;   
    }
 }

 @media screen and (max-width: 460px) {
.hobbies__lista{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
     margin: 0rem;
     padding: 0rem;
    }  
}